
*{
  margin: 0px;
  padding: 0px;
 
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height:50px;
  background-color: #d4c2a3;
 
}


.link{
  text-decoration: none; 
  padding:10px;
  margin: 40px;
  color: #ffff;
  list-style-type: none;
  font-weight: 700;
 

}
.header .links {
  text-decoration: none; 
  padding: 10px 20px 20px;
  color: #ffff;
  list-style-type: none;
  font-weight: 700;
 

}

.header .button{
  background-color: #BE2BBB;
  border-radius: 5px;
  color: #ffff;
  margin-top: 15px;
  padding: 5px 20px 10px;
  border-color: #BE2BBB;
 
}

 .header .button:hover{
  background-color: #BE2BBB;
}



@media (max-width: 768px) {

  .header{

    background-color: #fff;
    color: #BE2BBB;
  }

 .header .links{
    font-size: 300;
    color: #BE2BBB;
  }
  
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
 
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
