*{
    margin:0px;
    padding: 0px;
    
}

.navbar {
    justify-content: space-between;
   background-color: #d4c2a3;
   height: 50px;
  
   
}


.navbar .links{
   text-decoration: none;
   color: #ffff;
   padding: 0px 20px;
   margin:10px;

  
}

.navbar .button{
    background-color: #BE2BBB;
    border-radius: 5px;
    border-color: #BE2BBB;
    margin-right: 10px;
    padding: 0px 10px 5px 10px;
    color: #ffff;
   
}

.navbar .button .link{
    text-decoration: none;
    padding: 0px 10px;
    color: #ffff;
    
}